# Notification Service Environment Variables
PORT=3002
NODE_ENV=development

# RabbitMQ Configuration
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# Email Configuration (Gmail example)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=arnauldfonkoua@gmail.com
EMAIL_PASSWORD=yhniitwjjkaaajau
EMAIL_FROM=arnauldfonkoua@gmail.com
# SMS Configuration (Twilio example)
SMS_PROVIDER=twilio
SMS_ACCOUNT_SID=your-twilio-account-sid
SMS_AUTH_TOKEN=your-twilio-auth-token
SMS_FROM_NUMBER=+1234567890
